@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {role = "form"}))
{
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Çıkış Yapmak İstiyor Musunuz ?</h5>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body">Oturumu Kapatmak İçin "Çıkış Yap" Butonuna Basınız.</div>
             <div class="modal-footer">
                 <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                 <input type="submit" class="btn btn-primary " value="Çıkış Yap" />
                
             </div>
         </div>
     </div>
 </div>
}
