<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">Hüseyin Taştan</h5>
            <li class="mt">
                <a class="active" href="@Url.Action("Index","Post")">
                    <i class="fa fa-dashboard"></i>
                    <span>Yönetim Paneli</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Gönderiler</span>
                </a>
                <ul class="sub">
                    <li><a href="#">Gönderiler</a></li>
                    <li><a href="#">Gönderi Ekle</a></li>
                    <li><a href="#">Gönderi Düzenle</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Kategoriler</span>
                </a>
                <ul class="sub">
                    <li><a href="general.html">Kategoriler</a></li>
                    <li><a href="buttons.html">Kategori Ekle</a></li>
                    <li><a href="panels.html">Kategori Düzenle</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Fotoğraflar</span>
                </a>
                <ul class="sub">
                    <li><a href="general.html">Fotoğraflar</a></li>
                    <li><a href="buttons.html">Fotoğraf Ekle</a></li>
                    <li><a href="panels.html">Fotoğraf Düzenle</a></li>
                </ul>
            </li>
            <li>
                <a href="inbox.html">
                    <i class="fa fa-comments-o"></i>
                    <span>Yorumlar </span>
                    <span class="label label-theme pull-right mail-info"></span>
                </a>
            </li>
        </ul>
    </div>
</aside>